/* pb header */

.pb-header {
  width: 100%;
  height: 64px;
  justify-content: center;
  /* background-color: #fff; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #ebecf0;
  transition: background-color 0.2s;
}

.pb-header .pb-logoSvg {
  color: #191b26;
}
.pb-header.pb-transparent {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
.pb-header.pb-transparent .pb-exploreButton,
.pb-header.pb-transparent .pb-logoSvg {
  color: #fff;
}

.pb-header > * {
  max-width: 1830px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .pb-header > * {
    padding: 0 16px;
    justify-content: flex-start;
  }
}

.pb-header > * > :nth-child(n + 2) {
  margin-left: 8px;
}

/*Logo navbar style*/
.pb-header > * > .pb-logo-nav {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .pb-header > * > .pb-logo-nav.noGrowOnDesktop {
    flex: 0;
  }
}

@media (max-width: 768px) {
  .noGrowOnMobile {
    flex: 0;
  }
}

.pb-logoSvg {
  height: 32px;
  display: block;
}

@media (max-width: 768px) {
  .pb-logoSvg {
    display: none;
  }
}

.pb-logoMarkSvg {
  height: 40px;
  display: none;
}

@media (max-width: 768px) {
  .pb-logoMarkSvg {
    display: block;
  }
}

.pb-header .pb-logoSvg {
  color: #191b26;
}

.pb-container-hero {
  position: relative;
  width: 100%;
  min-height: 440px;
  color: #fff;
  z-index: 9;
}

@media (max-width: 768px) {
  .pb-container-hero {
    min-height: 464px;
  }
}

.pb-container-hero .pb-background-hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pb-imageBanner {
  position: absolute;
  min-width: 1000%;
  min-height: 1000%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.1);
}

.pb-container-hero .pb-overlay-hero {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(25, 27, 38, 0.32),
    rgba(25, 27, 38, 0.72)
  );
}

/*hero section content*/
.pb-container-hero .pb-content-hero {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  min-height: 440px;
  padding: 0 32px;
}
@media (max-width: 768px) {
  .pb-container-hero .pb-content-hero {
    padding: 0 16px;
    min-height: 464px;
  }
}

.pb-container-hero .pb-content-hero .pb-wrapper-hero {
  width: 100%;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pb-container-hero .pb-content-hero .pb-wrapper-hero h1 {
  margin: 0 0 8px;
  font-size: 32px;
}

@media (max-width: 768px) {
  .pb-container-hero .pb-content-hero .pb-wrapper-hero h1 {
    font-size: 24px;
  }
}

.pb-container-hero .pb-content-hero .pb-wrapper-hero h2 {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 24px;
  color: #fff;
}

/* pb-container-content =  */
.pb-container-content {
  padding: 0 0 0 8px;
  height: 40px;
  border-radius: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

/* padded--l0Z01 */
.pb-container-content.pb-padded-content {
  height: 56px;
  padding: 0 0 0 24px;
  border-radius: 56px;
}

.pb-container-content.pb-padded-content.pb-standard-content {
  background-color: #fff;
}

.pb-heroSearch-content {
  box-shadow: 0 16px 40px rgba(25, 27, 38, 0.08);
}

.pb-container-content .pb-searchForm-hero {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
}

.pb-container-content .pb-searchForm-hero .pb-submit-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

.pb-container-content .pb-searchForm-hero input {
  flex: auto;
  padding: 8px;
  border: none;
  background: none;
  margin: 0;
  min-width: 30px;
}

.pb-container-content .pb-searchForm-hero input {
  flex: auto;
  padding: 8px;
  border: none;
  background: none;
  margin: 0;
  min-width: 30px;
}

.pb-container-content .pb-searchForm-hero input:-ms-input-placeholder {
  color: #656f79;
  opacity: 1;
}

.pb-container-content .pb-searchForm-hero input::placeholder {
  color: #656f79;
  opacity: 1;
}

.pb-container-content .pb-searchForm-hero input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

.pb-container-content .pb-searchForm-hero input:placeholder-shown {
  text-overflow: ellipsis;
}

.pb-container-content .pb-searchForm-hero input:focus {
  outline: none;
}

.pb-container-dropdown {
  display: inline-flex;
  position: relative;
  overflow: visible;
  text-align: left;
}

.pb-mediaTypeDropdown {
  margin-right: 8px;
  border-radius: 56px;
}

.pb-transparent .pb-mediaTypeDropdown {
  color: #fff;
}

.pb-transparent .pb-mediaTypeDropdown:hover {
  background: hsla(0, 0%, 100%, 0.16);
}

.pb-transparent .pb-mediaTypeDropdown {
  color: #191b26;
}
.pb-transparent .pb-mediaTypeDropdown:hover {
  background: #fff;
}

.pb-transparent.pb-active .pb-mediaTypeDropdown {
  color: #656f79;
}

.pb-transparent.pb-active .pb-mediaTypeDropdown:hover {
  background: #f7f7f7;
}

.pb-container-main {
  margin: 0 auto;
  max-width: 1830px;
  padding: 0 32px;
  height: 500px;
}

.pb-container-main .pb-menu {
  justify-content: center;
  width: 100%;
}

.pb-active .pb-icon {
  color: #00ab6b;
}

.pb-tag > a {
  margin-right: 1rem;
}

.pb-tag-border {
  border-left: 1px solid #b4b9bec1;
}

.pb-tag button {
  margin-left: 0.5rem;
  cursor: pointer;
  font-weight: 300;
}

/**Image display*/

.pb-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.pb-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.pb-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .pb-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .pb-column {
    flex: 100%;
    max-width: 100%;
  }
}
